<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Board Detail</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
    .labelStyle {
      display: inline-block;
      padding: .5em .75em;
      font-size: inherit;
      line-height: normal;
      vertical-align: middle;
      background-color: lightskyblue;
      cursor: pointer;
      border: 1px solid #ebebeb;
      border-bottom-color: #e2e2e2;
      border-radius: .25em;
    }

    .wrap-loading{ /*화면 전체를 어둡게 합니다.*/
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }

    .wrap-loading div{ /*로딩 이미지*/
        position: fixed;
        top:50%;
        left:50%;
        margin-left: -21px;
        margin-top: -21px;
    }

    .display-none{ /*감추기*/
        display:none;
    }
</style>
<script th:inline="javascript">
  $(document).ready(function () {

    let boardNum = $("#boardNum").text();
    let boardUser = $("#boardUser").text();
    let boardContent = $("#content").val();
    let sessionId = $("#sessionId").val();
    let fileHtml = $("#fileModifyDiv").html();
    let typeValue = $("#typeValue").val();

    // 관리자 권한 및 작성자인 경우에만 수정 가능
    if(!/*[[ ${validation} ]]*/) {
      $("#modify").hide();
    }

    // 게시글 수정
    $("#modify").on("click", function() {

      let status = $("#modify").text();
      let changedContent = $("#content").val();
      let changedTypeValue = $("#typeValue").val();

      if(status == "수정") {
        $("#cancel").show();
        $("#content").attr("readonly", false);
        $("#content").focus();
        $("#answerInsert").hide();
        $("#fileDiv").hide();
        $("#fileModifyDiv").show();
        $("#modify").text("완료");
        $("#boardTypeDiv").show();
        $("#noticeYnDiv").show();
      }
      else if(status == "완료") {

        // 공백 체크
        if(changedContent == '') {
            alert('내용을 작성해주세요.');
            $("#content").focus();
            return false;
        }

        let typeNo = changedTypeValue.split(',')[0];
        let kind = changedTypeValue.split(',')[1];

        $("#type_no").val(typeNo);

        let file = $("#boardFileInsertForm")[0];
        let formData = new FormData(file);
        formData.append('files', file);

        let fileNumList = [];
        $("input[name='fileNo']").each((index, item) => {
            fileNumList.push(item.value);
        });

        let data = {
            'board_no' : boardNum,
            'board_content' : changedContent,
            'changeYn' : $("#changeYn").val(),
            'fileNumList' : fileNumList,
            'type_no' : typeNo
        }
        formData.append('board', new Blob([JSON.stringify(data)], {type: 'application/json'}));

        // 갤러리 타입은 사진 첨부가 필수여서 한 번 체크 해줌
        if(kind == 'gallery') {
            galleryCheck(formData);
        } else {
            updateBoard(formData)
        }
      }

    });

    function galleryCheck(formData) {

          let fileArray = $("input[name=fileText]").get();
          let fileExtension;
          let imageCount = 0;

          $.ajax({
              type : "POST",
              url : "/board/imageCheck",
              dataType:"text",
              enctype: 'multipart/form-data',
              data : formData,
              contentType: false,
              processData: false,
              cache: false,
              success : function(data){
                    if(data == '성공') {
                      updateBoard(formData);
                    } else {
                        for(var i = 0; i < fileArray.length; i++) {
                              fileExtension = fileArray[i].value.split('.')[1];

                              if(fileExtension == 'jpg' || fileExtension == 'png') {
                                  imageCount++;
                              }
                        }

                        if(imageCount > 0) {
                            updateBoard(formData);
                        } else {
                            alert('갤러리 게시판은 사진 첨부가 필수입니다.');
                            return false;
                        }
                    }
              },
              error : function(request,status,error) {
                    if(status == '500') {
                        alert('에러가 발생했습니다.');
                    } else {
                        alert('파일 사이즈가 너무 큽니다.');
                    }
                }
          });
    }

    function updateBoard(formData) {
        $.ajax({
                type : "POST",
                url : "/board/update",
                dataType:"text",
                enctype: 'multipart/form-data',
                data : formData,
                contentType: false,
                processData: false,
                cache: false,
                success : function(data){
                      console.log(data);

                      if(parseInt(data) == 0) {
                        alert('처리되지 않았습니다.');
                      } else if(parseInt(data) == 1) {
                        alert('게시글이 수정되었습니다.');
                        location.reload();
                      } else {
                        alert('게시글 및 파일이 수정되었습니다.');
                        location.reload();
                      }
                }
                ,beforeSend : function() {
                    $('.wrap-loading').removeClass('display-none');
                }
                ,complete : function() {
                    $('.wrap-loading').addClass('display-none');
                }
                ,error : function(request,status,error) {
                    if(status == '500') {
                        alert('에러가 발생했습니다.');
                    } else {
                        alert('파일 사이즈가 너무 큽니다.');
                    }
                }
        });
    }

    $("#cancel").on("click", function() {
      $("#cancel").hide();
      $("#modify").show();
      $("#answerInsert").show();
      $("#content").attr("readonly", true);
      $("#content").val(boardContent);
      $("#typeValue").val(typeValue);
      $("#answerContent").hide();
      $("#answerContent").val("");
      $("#modify").text("수정");
      $("#answerInsert").text("답변하기");
      $("#boardTypeDiv").hide();
      $("#noticeYnDiv").hide();

      $("#fileModifyDiv").html(fileHtml);
      $("#fileDiv").show();
      $("#fileModifyDiv").hide();

      $("#changeYn").val('N');
    });

    // 답변 등록
    $("#answerInsert").on("click", function() {

      let status = $("#answerInsert").text();
      let typeNo = typeValue.split(',')[0];

      if(status == "답변하기") {
        $("#cancel").show();
        $("#modify").hide();

        $("#answerContent").show();
        $("#answerContent").focus();
        $("#answerInsert").text("완료");
      }
      else if(status == "완료") {

        let params = {
                        'user_id' : sessionId,
                        'board_title' : 'ㄴRe:' + $("#boardTitle").text(),
                        'board_content' : $("#answerContent").val(),
                        'target' : boardNum,
                        'type_no' : typeNo,
                        'board_no' : boardNum
                }

        // JSON 형식으로 데이터 전송
        $.ajax({
                type : "POST",
                url : "/board/insertAnswer",
                headers: {'Content-Type': 'application/json'},
                dataType:"text",
                data : JSON.stringify(params),
                success : function(data){
                      console.log(data);

                      if(data == "1") {
                        //alert('답변을 작성하였습니다.');
                        //location.reload();
                      }
                }
                ,beforeSend : function() {
                    $('.wrap-loading').removeClass('display-none');
                }
                ,complete : function() {
                    $('.wrap-loading').addClass('display-none');
                }
        });
      }
    });
  })

      //파일 인덱스 처리용 전역 변수
      const fileList = /*[[ ${fileList} ]]*/;
      let fileIdx;

      if(fileList == '' || fileList == undefined || fileList == null || fileList == 'null' ) {
        fileIdx = 0;
      } else {
        fileIdx = fileList.length
      }

      function addFile() {

        $("#changeYn").val('Y');
        fileIdx++;

        const fileHtml = `
            <div data-name="fileDiv">
                <label for="file_${fileIdx}"></label>
                <div>
                    <input type="text" name="fileText" style="display: inline-block; width: 350px; height: 30px;" value="파일 찾기" readonly />
                    <label for="file_${fileIdx}" class="labelStyle">파일 선택</label>
                    <input type="file" name="files" id="file_${fileIdx}" style="display: none;" onchange="changeFileName(this)" />
                    <button type="button" onclick="removeFile(this)">-</button>
                </div>
            </div>
        `;

        $('#btnDiv').before(fileHtml);
    }

    function removeFile(elem) {

        $("#changeYn").val('Y');
        const prevTag = $(elem).prev().prop('tagName');

        //첫번째 파일인 경우 div 삭제 대신 file input 초기화
        if (prevTag === 'BUTTON') {
            const file = $(elem).prevAll('input[type="file"]');
            const text = $(elem).prevAll('input[type="text"]');

            file.val('');
            text.val('파일 찾기');

            $(elem).prevAll('input[name="fileNo"]').remove();
            return false;
        }

        const target = $(elem).parents('div[data-name="fileDiv"]');
        target.remove();
    }

    function changeFileName(file) {

        $("#changeYn").val('Y');

        file = $(file);
        const filename = file[0].files[0].name;
        const target = file.prevAll('input[type!="hidden"]');
	    target.val(filename);

        file.prevAll('input[name="fileNo"]').remove();

        console.log("filename : " + filename);
    }

</script>

<body>

<form th:action="@{/board/update}" th:object="${fileList}" method="post" enctype="multipart/form-data" id="boardFileInsertForm" onsubmit="return false;">

    <input type="hidden" id="sessionId" th:value="${session.loginMember.user_id}" />
    <!--/* 파일이 변경된 경우, 해당 파라미터를 이용하여 파일 삭제 및 재등록 처리 */-->
    <input type="hidden" id="changeYn" name="changeYn" value="N" />
    <input type="hidden" name="board_no" th:value="${boardForm.board_no}" />
    <input type="hidden" id="type_no" name="type_no" />

    <div id="boardTypeDiv" style="display: none;">
        <label for="typeValue">게시판 선택 : </label>
        <select id="typeValue" name="typeValue" >
            <th:block th:each="row, status : ${typeList}">
                <option th:value="|${row.type_no},${row.kind}|" th:text="${row.type_name}" th:selected="${#strings.equals(row.type_no, boardForm.type_no)}"></option>
            </th:block>
        </select>
    </div>

    <th:block th:if="${validation}">
        <div id="noticeYnDiv" style="display: none;">
            <label for="notice_yn">공지사항</label>
            <input type="checkbox" id="notice_yn" name="notice_yn" value="Y" th:checked="${#strings.equals(boardForm.notice_yn, 'Y')}" />
        </div>
    </th:block>

    <table style="text-align:center;">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody id="dataTableBody">
            <tr>
                <td id="boardNum" th:text="${boardForm.board_no}">번호 부분</td>
                <td id="boardTitle" th:utext="${boardForm.board_title}">제목 부분</td>
                <td th:text="${#strings.arraySplit(boardForm.insert_date, 'T')[0] + ' ' + #strings.arraySplit(boardForm.insert_date, 'T')[1]}">날짜 부분</td>
                <td id="boardUser" th:text="${boardForm.user_id}">작성자 부분</td>
            </tr>
            <tr th:if="${#strings.equals(boardKind, 'gallery')}">
                <td colspan="4">
                    <div id="imageDiv">
                        <img th:src="${filePath}" style="width: 300px;">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea id="content" name="board_content" style="width: 397px; height: 240px; resize: none;"
                              th:utext="${boardForm.board_content}" readonly>내용 부분</textarea>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="fileDiv" style="border:solid 1px black; display: inline-block;">
        <span>첨부 파일</span><br>
        <div th:each="row, status : ${fileList}">
            <a  th:href="@{/board/download( fileNo=${row.file_no} )}">
                [[ ${row.original_name} ]]
            </a>
            <br>
        </div>
    </div>

    <div id="fileModifyDiv" style="display: none;">
        <span>첨부 파일</span><br>

        <!-- 파일이 없을 경우 -->
        <div th:if="${#lists.isEmpty( fileList )}" data-name="fileDiv">
            <label for="file_0"></label>
            <div>
                <input type="text" style="display: inline-block; width: 350px; height: 30px;" value="파일 찾기" readonly />
                <label for="file_0" class="labelStyle">파일 선택</label>
                <input type="file" name="files" id="file_0" style="display: none;" onchange="changeFileName(this)" />
                <button type="button" onclick="addFile()">+</button>
                <button type="button" onclick="removeFile(this)">-</button>
            </div>
        </div>

        <!-- 파일이 있을 경우 -->
        <div th:each="row, status : ${fileList}" data-name="fileDiv">
            <label th:for="|file_${status.index}|"></label>
            <div>
                <input type="hidden" name="fileNo" th:value="${row.file_no}" />
                <input type="text" name="fileText" style="display: inline-block; width: 350px; height: 30px;" th:value="${row.original_name}" readonly />
                <label th:for="|file_${status.index}|" class="labelStyle">파일 선택</label>
                <input type="file" name="files" th:id="|file_${status.index}|" style="display: none;" onchange="changeFileName(this)"/>
                <button th:if="${status.first}" type="button" onclick="addFile()">+</button>
                <button type="button" onclick="removeFile(this)">-</button>
            </div>
        </div>
        <hr id="btnDiv">
    </div>
</form>

<br>
<th:block th:if="${boardForm.board_re_lev == 0}">
<!-- 답변일 경우 수정 불가 -->
<button id="modify">수정</button>
</th:block>
<button style="display: none;" id="cancel">취소</button>

<th:block th:if="${not #strings.equals(boardKind, 'gallery')}">
    <button id="answerInsert">답변하기</button>
    <br>
    <textarea id="answerContent" style="width: 397px; height: 120px; display: none; resize: none;"></textarea>

    <div id="answerDiv">
        <div th:each="answer : ${answerList}">
            <span>[답변]</span><br>
            <span th:text="|작성자 : ${answer.user_id}|">작성자</span>
            &nbsp
            <span th:text="${'작성날짜 : ' + #strings.arraySplit(answer.insert_date, 'T')[0] + ' ' + #strings.arraySplit(answer.insert_date, 'T')[1]}">작성날짜</span>
            <br>
            <textarea style='width: 397px; height: 120px; background-color:lightgray; resize: none;' readonly th:utext="${answer.board_content}"></textarea>
            <br>
        </div>
    </div>
</th:block>
<br>
<button th:onclick="|location.href='@{/(type_no = ${type_no}
                                        ,selected_page = ${selected_page}
                                        ,keyword = ${keyword}
                                        ,searchContent = ${searchContent}
                                        ,mode=${mode})}'|">목록</button>

<div class="wrap-loading display-none">
    <div><img style="width: 50px;" src="../images/loading.gif" /></div>
</div>

</body>
</html>