<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
    ul {
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
	padding-left :0;
}
ul li {
    text-align: center;
    float: left;
	list-style:none;

}

ul li a {
    display: block;
    font-size: 14px;
	color: black;
    padding: 9px 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
	text-decoration-line:none;
}

ul li.on {
    background: #eda712;
}

ul li.on a {
    color: #fff;
}

.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.wrap-loading div{ /*로딩 이미지*/
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -21px;
    margin-top: -21px;
}

.display-none{ /*감추기*/
    display:none;
}

table {
    border-spacing: 0px;
}
</style>

<script th:inline="javascript">

    let globalCurrentPage;
    let keyword;
    let searchContent;
    let sessionId;
    let params;
    let totalCount;
    let boardType;

    function selectList(selectedPage, boardType) {

        if(typeof selectedPage == 'undefined' || selectedPage == '' ) selectedPage = 1;
        //if(typeof boardType == 'undefined' || boardType == '' ) boardType = null;

        console.log("boardType : " + boardType);

        // 검색어 없을 경우 기본 리스트 호출
        if(searchContent == '') {
            params = {
                'page' : selectedPage,
                'type_no' : boardType
            }
        } else {
            params = {
                'page' : selectedPage,
                'keyword' : keyword,
                'searchContent' : searchContent,
                'type_no' : boardType
            }
        }

        $.ajax({
            type : "GET",
            url : "/board/getCount",
            dataType:"text",
            data : params,
            success : function(data){
                console.log("totalCount : " + data);
                totalCount = data;

                $.ajax({
                    type : "GET",
                    url : "/board/selectList",
                    dataType:"text",
                    async:false,
                    data : params,
                    success : function(data){
                          // 테이블 초기화
                          $("#dataTableBody").empty();

                          $("#dataTableBody").html(data);
                          paging(totalCount, selectedPage, boardType);
                    }
                });
            }
            ,beforeSend : function() {
                $('.wrap-loading').removeClass('display-none');
            }
            ,complete : function() {
                $('.wrap-loading').addClass('display-none');
            }
        });

<!--            $.ajax({-->
<!--                type : "GET",-->
<!--                url : "/board/selectList",-->
<!--                dataType:"JSON",-->
<!--                data : params,-->
<!--                success : function(data){-->
<!--                      $("#dataTableBody").empty();-->
<!--                      -->
<!--                      let a = '';-->
<!--                      let boardList = data.boardList;-->
<!--                      let totalCount = data.totalCount;-->
<!--                      $.each(boardList, function(key, value) {-->
<!--                         a += "<tr style='cursor:pointer;'><td onclick=location.href='/board/detail?num="+value.board_no+"'>" + value.board_no + '</td>';-->
<!--                         a += "<td onclick=location.href='/board/detail?num="+value.board_no+"'>" + value.board_title+ '</td>';-->
<!--                         a += "<td onclick=location.href='/board/detail?num="+value.board_no+"'>" + value.insert_date.split('T')[0] + ' ' + value.insert_date.split('T')[1] + '</td>';-->
<!--                         a += "<td onclick=location.href='/board/detail?num="+value.board_no+"'>" + value.user_id+ '</td>';-->
<!--                         //작성자만 삭제 가능-->
<!--                         if(sessionId == value.user_id) {-->
<!--                            a += "<td><button onclick='deleteBoard("+value.board_no+")'>삭제</button></td></tr>";-->
<!--                         }-->
<!--                      });-->
<!--                     $("#dataTableBody").html(a);-->
<!--                     paging(totalCount, selectedPage);-->
<!--                }-->
<!--            });-->
    }

    function paging(totalData, currentPage, boardType) {
          console.log("currentPage : " + currentPage);

          let pageCount = 10;

          totalPage = Math.ceil(totalData / 10); //총 페이지 수

          if(totalPage<pageCount){
            pageCount = totalPage;
          }

          let pageGroup = Math.ceil(currentPage / pageCount); // 페이지 그룹
          let last = pageGroup * pageCount; //화면에 보여질 마지막 페이지 번호

          if (last > totalPage) {
            last = totalPage;
          }

          let first = last - (pageCount - 1); //화면에 보여질 첫번째 페이지 번호
          let next = last + 1;
          let prev = first - 1;

          let pageHtml = "";

          if (prev > 0) {
            pageHtml += "<li><a href='#' id='prev'> 이전 </a></li>";
          }

         //페이징 번호 표시
          for (var i = first; i <= last; i++) {
            if (currentPage == i) {
              pageHtml +=
                "<li class='on'><a href='#' id='" + i + "'>" + i + "</a></li>";
            } else {
              pageHtml += "<li><a href='#' id='" + i + "'>" + i + "</a></li>";
            }
          }

          if (last < totalPage) {
            pageHtml += "<li><a href='#' id='next'> 다음 </a></li>";
          }

          $("#pagingul").html(pageHtml);
          let displayCount = "";
          displayCount = "현재 " + currentPage + " - " + totalPage + " 페이지 / " + totalData + "건";
          $("#displayCount").text(displayCount);


          //페이징 번호 클릭 이벤트
          $("#pagingul li a").click(function () {
            let $id = $(this).attr("id");
            selectedPage = $(this).text();

            if ($id == "next") selectedPage = next;
            if ($id == "prev") selectedPage = prev;

            //전역변수에 선택한 페이지 번호를 담는다...
            $("#selectedPage").val(selectedPage);
            //페이징 표시 재호출
            paging(totalData, selectedPage, boardType);
            //글 목록 표시 재호출
            selectList(selectedPage, boardType);
          });
    }

    function deleteBoard(boardNum) {
        console.log(boardNum);
        if(confirm('게시물을 삭제하시겠습니까?')) {
            $.ajax({
                type : "DELETE",
                url : "/board/delete",
                dataType:"text",
                data : {
                        'boardNum' : boardNum
                },
                success : function(data){
                    console.log("data : " + data);

                    if(parseInt(data) >= 1) {
                      alert('삭제되었습니다.');
                      window.location.replace('/?boardType=' + $("#boardType").val() + '&selectedpage=' + $("#selectedPage").val());
                    } else {
                        alert('삭제에 문제가 생겼습니다.');
                    }
                }
                ,beforeSend : function() {
                    $('.wrap-loading').removeClass('display-none');
                }
                ,complete : function() {
                    $('.wrap-loading').addClass('display-none');
                }
            });
        }
    }

    function typeChange(el) {
        let type = $(el).attr('id');
        console.log($(el).attr('id'));

        $("#boardTypeUl > li").removeClass();
        $(el).parent('li').addClass('on');

        $("#boardType").val(type);
        $("#selectedPage").val('1');
        selectList(1, type);
    }

    function goToBoard(boardNo) {
        // 게시판 타입, 페이징 값 유지
        $(location).attr('href', '/board/detail?num=' + boardNo
                                            + '&type_no=' + $("#boardType").val()
                                            + '&selected_page=' + $("#selectedPage").val()
                                            + '&keyword=' + $("#searchKeyword").val()
                                            + '&searchContent=' + $("#searchInput").val());
    }

    $(document).ready(function () {

        let selectKeyword = [[${keyword}]];
        if(selectKeyword != null) {
            $("#searchKeyword").val([[${keyword}]]);
        }

        globalCurrentPage = $("#selectedPage").val();
        keyword = $("#searchKeyword").val();
        searchContent = $("#searchInput").val();
        sessionId = $("#sessionId").val();
        boardType = $("#boardType").val();

        function getBoardTypeList() {
            $.ajax({
                type : "GET",
                url : "/board/getBoardType",
                dataType:"text",
                data : params,
                success : function(data){
                      // 초기화
                      $("#boardTypeList").empty();

                      $("#boardTypeList").html(data);
                }
            });
        }

        $("#searchKeyword").on("change", function() {
            keyword = $(this).val();
            console.log(keyword);
        });

        $("#searchBtn").on("click", function() {
            searchContent = $("#searchInput").val();
            boardType = $("#boardType").val();
            selectList(1, boardType);
        });

        $("#searchInput").on("keyup",function(key){
            if(key.keyCode==13) {
                searchContent = $("#searchInput").val();
                boardType = $("#boardType").val();
                selectList(1, boardType);
            }
        });

        document.onkeydown = function(e){
            /* F5, Ctrl+r, Ctrl+F5 */
            if(e.keyCode == 116 || e.ctrlKey == true && (e.keyCode == 82)){
                e.cancelBubble = true;
                e.returnValue = false;

                //새로고침 시, 페이지 유지 값 초기화
                history.replaceState({}, null, location.pathname);  // 주소창의 parameter 제거
                location.reload();
            }
        }

        selectList(globalCurrentPage, boardType);
        //getBoardTypeList();

    })

</script>

<body>
<h1 th:text="|${session.loginMember.user_id}님 안녕하세요!|">로그인 사용자 이름</h1>
<form th:action="@{/logout}" method="post">
    <button onclick="location.href='items.html'" type="submit">
        로그아웃
    </button>
</form>
<form th:action="@{/board/insertForm}" method="get">
    <button onclick="location.href='items.html'" type="submit">
        게시글 등록
    </button>
</form>
<hr>

<div id="boardTypeList">
    <ul id="boardTypeUl">
        <li th:class="${#strings.isEmpty(type_no) ? 'on' : 'off'}">
            <a href="javascript:void(0);" onclick="typeChange(this);">전체게시판</a>
        </li>
        <th:block th:each="row, status : ${typeList}">
            <li th:class="${#strings.equals(type_no, row.type_no) ? 'on' : 'off'}">
                <a href="javascript:void(0);" th:id="${row.type_no}" onclick="typeChange(this);">
                    [[ ${row.type_name} ]]
                </a>
            </li>
        </th:block>
    </ul>
</div>

<hr>
<div style="text-align: center; float: left;">
    <select id="searchKeyword">
        <option value="user_id">작성자</option>
        <option value="board_title">제목</option>
        <option value="board_content">내용</option>
    </select>
    <input type="text" id="searchInput" th:value="${searchContent}" />
    <button id="searchBtn" type="button">
        검색
    </button>
</div>

<br>
<p id="displayCount"></p>
<table style="width:500px; text-align:center;">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>날짜</th>
            <th>작성자</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dataTableBody">
    </tbody>
</table>

<input type="hidden" id="selectedPage" name="selectedPage" th:value="${selected_page}" />
<input type="hidden" id="boardType" name="boardType" th:value="${type_no}" />
<input type="hidden" id="sessionId" th:value="${session.loginMember.user_id}" />

<ul id="pagingul">
</ul>

<div class="wrap-loading display-none">
    <div><img style="width: 50px;" src="./images/loading.gif" /></div>
</div>

</body>
</html>

