<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Board Insert</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<script th:inline="javascript">
  $(document).ready(function () {

    $("#submit").on("click", function() {

      // file
<!--      let file = $("#file_0")[0].files[0];-->   // <- input 태그에서 file 정보 얻어오는 법
<!--      let formData = new FormData();-->
      let file = $("#boardFileInsertForm")[0];      // <- form에 있는 모든 file 정보 얻어오는 법
      let formData = new FormData(file);
      formData.append('files', file);

      // board json
      let userId = $("#user_id").val();
      let content = $("#board_content").val();
      let title = $("#board_title").val();
      let typeNo = $("#type_no").val();

      let data = {
              'user_id' : userId,
              'board_title' : title,
              'board_content' : content,
              'type_no' :   typeNo
      }
      formData.append('board', new Blob([JSON.stringify(data)], {type: 'application/json'}));

      $.ajax({
              type : "POST",
              url : "/board/insert",
              dataType:"text",
              enctype: 'multipart/form-data',
              data : formData,
              contentType: false,
              processData: false,
              cache: false,
              success : function(data){
                    console.log(data);

                    if(data == '성공') {
                      alert('등록되었습니다.');
                      window.location.replace('/');
                    } else {
                      alert('업로드 실패');
                    }
              },
              error : function(request,status,error) {
                    if(status == '500') {
                        alert('에러가 발생했습니다.');
                    } else {
                        alert('파일 사이즈가 너무 큽니다.');
                    }
                }
      });

    });

  })

      //파일 인덱스 처리용 전역 변수
      let fileIdx = 0;

      function addFile() {

        fileIdx++;

        const fileHtml = `
            <div data-name="fileDiv">
                <label for="file_${fileIdx}"></label>
                <div>
                    <input type="file" name="files" id="file_${fileIdx}" class="upload-hidden" onchange="changeFileName(this)" />

                    <button type="button" onclick="removeFile(this)">-</button>
                </div>
            </div>
        `;

        $('#btnDiv').before(fileHtml);
    }

    function removeFile(elem) {

        const prevTag = $(elem).prev().prop('tagName');

        //첫번째 파일인 경우 div 삭제 대신 file input 초기화
        if (prevTag === 'BUTTON') {
            const file = $(elem).prevAll('input[type="file"]');
            file.val('');
            return false;
        }

        const target = $(elem).parents('div[data-name="fileDiv"]');
        target.remove();
    }

    function changeFileName(file) {
        file = $(file);
        const filename = file[0].files[0].name;

        console.log("filename : " + filename);
    }
</script>

<body>
<h1>게시글 등록</h1>
<form th:action="@{/board/insert}" th:object="${boardForm}" method="post" enctype="multipart/form-data" id="boardFileInsertForm">

  <div>
    <label for="type_no">게시판 선택 : </label>
    <select id="type_no" >
        <th:block th:each="row, status : ${typeList}">
            <option th:value="${row.type_no}" th:text="${row.type_name}" th:selected="${status.first}"></option>
        </th:block>
    </select>
  </div>
  <br>
  <div>
    <label for="board_title">제목</label>
    <input type="text" style="width: 397px;" id="board_title" th:field="*{board_title}" class="form-control" enctype="multipart/form-data"
           th:errorclass="field-error">
    <div class="field-error" th:errors="*{board_title}" />
  </div>
  <div>
    <label for="board_content">내용</label>
    <textarea id="board_content" style="width: 397px; height: 240px;" th:field="*{board_content}" class="form-control"
              th:errorclass="field-error"></textarea>
    <div class="field-error" th:errors="*{board_content}" />
  </div>
    <hr>
    <div data-name="fileDiv">
        <label for="file_0"><strong>첨부 파일</strong></label>
        <div>
            <input type="file" name="files" id="file_0" class="upload-hidden" onchange="changeFileName(this)" />
            <button type="button" onclick="addFile()">+</button>
            <button type="button" onclick="removeFile(this)">-</button>
        </div>
    </div>
  <hr id="btnDiv">

  <input type="hidden" id="user_id" th:value="${session.loginMember.user_id}">

</form>

<div class="col">
  <input id="submit" type="submit" value="작성" />
</div>
<div class="col">
  <button onclick="location.href='items.html'"
          th:onclick="|location.href='@{/}'|"
          type="button">취소</button>
</div>

</body>
</html>