<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<body>
    <!-- 공지사항 목록 -->
    <tr style='cursor:pointer; background-color: #eda712;' th:each="notice : ${boardNoticeList}">
        <td th:onclick="|goToBoard(${notice.board_no})|" th:text="${notice.board_no}"></td>
        <td th:onclick="|goToBoard(${notice.board_no})|" th:utext="${notice.board_title}"></td>
        <td th:onclick="|goToBoard(${notice.board_no})|" th:text="${#strings.arraySplit(notice.insert_date, 'T')[0] + ' ' + #strings.arraySplit(notice.insert_date, 'T')[1]}"></td>
        <td th:onclick="|goToBoard(${notice.board_no})|" th:text="${notice.user_id}"></td>
        <div th:if="${sessionId == notice.user_id || auth == 'admin'}">
            <td><button th:onclick="|deleteBoard(${notice.board_no})|">삭제</button></td>
        </div>
    </tr>
    <!-- 게시글 목록 -->
    <tr style='cursor:pointer;' th:each="board : ${boardList}">
        <td th:onclick="|goToBoard(${board.board_no})|" th:text="${board.board_no}"></td>
        <td th:onclick="|goToBoard(${board.board_no})|" th:utext="${board.board_title}"></td>
        <td th:onclick="|goToBoard(${board.board_no})|" th:text="${#strings.arraySplit(board.insert_date, 'T')[0] + ' ' + #strings.arraySplit(board.insert_date, 'T')[1]}"></td>
        <td th:onclick="|goToBoard(${board.board_no})|" th:text="${board.user_id}"></td>
        <th:block th:if="${board.notice_yn == 'N'}">
            <div th:if="${sessionId == board.user_id || managerCount > 0 || auth == 'admin'}">
                <td><button th:onclick="|deleteBoard(${board.board_no})|">삭제</button></td>
            </div>
        </th:block>
        <th:block th:unless="${board.notice_yn == 'N'}">
            <div th:if="${sessionId == board.user_id || auth == 'admin'}">
                <td><button th:onclick="|deleteBoard(${board.board_no})|">삭제</button></td>
            </div>
        </th:block>
    </tr>
    <th:block th:if="${#lists.size(boardList) < 1}">
        <tr>
            <td colspan="4" style="background-color: lightgrey;">게시글이 없습니다.</td>
        </tr>
    </th:block>
</body>
</html>
