<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center; float: left;">
<button th:onclick="|location.href='@{/date( now = ${nowDate}, type = 'pre')}'|"> < </button>
    <span th:text="${preDate}"></span>
    <span th:text="${nowDate}"></span>
    <span th:text="${nextDate}"></span>
<button th:onclick="|location.href='@{/date( now = ${nowDate}, type = 'next')}'|"> > </button>
</div>

</body>
</html>