<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyo.boardexample.mapper.BoardMapper">

    <sql id="search">
        <choose>
            <when test="keyword == 'user_id'.toString()">
                AND user_id LIKE CONCAT('%',#{searchContent},'%')
                AND target IS NULL
            </when>
            <when test="keyword == 'board_title'.toString()">
                AND board_title LIKE CONCAT('%',#{searchContent},'%')
                AND target IS NULL
            </when>
            <otherwise>
                AND board_content LIKE CONCAT('%',#{searchContent},'%')
                AND target IS NULL
            </otherwise>
        </choose>

    </sql>

    <select id="boardCount" parameterType="hyo.boardexample.domain.Board" resultType="int">
        SELECT count(board_no) AS cnt FROM board
        WHERE delete_yn = 'N'
        <if test="searchContent != null">
            <include refid="search"></include>
        </if>
        <if test="type_no != null">
            AND type_no = #{type_no}
        </if>
    </select>

    <select id="getList" parameterType="hyo.boardexample.domain.Board" resultType="hyo.boardexample.domain.Board">
        SELECT
             board_no
            ,user_id
            ,board_title
            ,board_content
            ,insert_date
            ,target
        FROM board
        WHERE delete_yn = 'N'
        <if test="searchContent != null">
            <include refid="search"></include>
        </if>
        <if test="type_no != null">
            AND type_no = #{type_no}
        </if>
        <choose>
            <when test="page != null">
                LIMIT #{page}, 10
            </when>
            <otherwise>
                LIMIT 0, 10
            </otherwise>
        </choose>
    </select>

    <select id="getAnswerList" parameterType="Integer" resultType="hyo.boardexample.domain.Board">
        SELECT
             user_id
            ,board_content
            ,insert_date
        FROM board
        WHERE target = #{num}
    </select>

    <select id="getOne" parameterType="Integer" resultType="hyo.boardexample.domain.Board">
        SELECT
             board_no
            ,user_id
            ,board_title
            ,board_content
            ,insert_date
        FROM board
        WHERE board_no = #{num}
    </select>

    <update id="update" parameterType="hyo.boardexample.domain.Board">
        UPDATE board
        SET board_content = #{board_content}
        WHERE board_no = #{board_no}
    </update>

    <update id="modifyBoardYn" parameterType="hyo.boardexample.domain.Board">
        UPDATE
            board
        SET
            delete_yn = #{delete_yn}
        WHERE
            type_no = #{type_no}
    </update>

    <insert id="insert" parameterType="hyo.boardexample.domain.Board" useGeneratedKeys="true" keyProperty="board_no">
        <choose>
            <when test="target != null">
                INSERT INTO board(
                     board_content
                    ,user_id
                    ,target
                )
                VALUES(
                     #{board_content}
                    ,#{user_id}
                    ,#{target}
                )
            </when>
            <otherwise>
                INSERT INTO board(
                     board_title
                    ,board_content
                    ,user_id
                    ,type_no
                )
                VALUES(
                     #{board_title}
                    ,#{board_content}
                    ,#{user_id}
                    ,#{type_no}
                )
            </otherwise>
        </choose>
    </insert>

    <delete id="delete" parameterType="hyo.boardexample.domain.Board">
        DELETE FROM board
        WHERE board_no = #{board_no}
    </delete>

    <delete id="deleteAnswer" parameterType="hyo.boardexample.domain.Board">
        DELETE FROM board
        WHERE target =  #{board_no}
    </delete>

</mapper>